doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Coconuts - Moshal Hakathon | IMO
        link(rel="shortcut icon" href="favicon.png" type="image/png")
        link(rel="stylesheet" href="/main.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet")
        script(src="/particles.min.js") 
        script(src="/main.js" async) 
    body
        div#particles-js
        section.m-holder
            div.m-moshal
            h1 COCONUT
            p STRIVING FOR EXCELLENCE
            input.m-input(type="text" placeholder="Folder Path" value="../assets/images/Indian_pines.mat")
            button.m-process-bt START
            svg.m-loading
                circle.m-circle(cx="15" cy="15" r="10" stroke="white" stroke-width="2" fill="transparent")
            div.m-socials
                a(href="https://github.com/liavbarsheshet/space-il-hackathon-impro" target="_blank") GitHub
                a(href="https://www.moshalhackathon.com" target="_blank") Moshal's Hakathon

            p.footer COCONUT TEAM 2, 2022 All rights Reserved
